on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install Dart
      run: |
        sudo sh -c 'curl https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
        sudo sh -c 'curl https://storage.googleapis.com/download.dartlang.org/linux/debian/dart_stable.list > /etc/apt/sources.list.d/dart_stable.list'
        sudo apt-get update
        sudo apt-get install dart
        echo 'export PATH="$PATH:/usr/lib/dart/bin"' >> ~/.profile
    - name: Test Build
      run: |
        pub global activate webdev
        pub get
        webdev build
    - name: Test Deploy
      run: |
        wget https://releases.hashicorp.com/terraform/0.12.5/terraform_0.12.5_linux_amd64.zip
        unzip terraform_0.12.5_linux_amd64.zip
        rm terraform_0.12.5_linux_amd64.zip
        ./terraform init -backend-config="bucket=${TF_VAR_DOMAIN}" -backend-config="key=master.tfstate"
        ./terraform plan
